@import '../_variables.scss';

.header {
    width: 100%;
    height: 7rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.header .title {
    display: grid;
    height: 7rem;
    width: 70%;
    font-weight: $bold;
    font-size: 2rem;
}
.title img {
    width: 5rem;
    height: 5rem;
}
.header .title a {
    align-self: center;
    color: $white;
}
.shopping-cart {
    position: relative;
}
.shopping-cart svg {
    stroke: $white;
}
.cart-number {
    position: absolute;
    bottom: 1.6rem;
    right: 0.4rem;
    width: 1.8rem;
    height: 1.8rem;
    background-color: $secondary-color;
    color: $white;
    border-radius: 50%;
    font-size: 12px;
    font-weight: $bold;
    text-align: center;
    padding-top: 0.4rem;
}
@media(min-width: 480px) {
    .header {
        justify-content: space-around;
    }
    .header .title {
        font-size: 2.5rem;
    }
    .icon-tabler-shopping-cart {
        width: 4.8rem;
        height: 4.8rem;
    }
    .cart-number {
        bottom: 1.9rem;
        right: 0.5rem;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.5rem;
    }
}
@media (min-width: 1024px) {
    .header .title {
        font-size: 3rem;
    }
    .icon-tabler-shopping-cart {
        width: 5.4rem;
        height: 5.4rem;
    }
    .cart-number {
        bottom: 2.5rem;
        right: 0.4rem;
        width: 2.7rem;
        height: 2.7rem;
        font-size: 1.8rem;
        padding-top: 0.4rem;
    }
}