@import './_variables.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
}
.input {
    width: 100%;
    max-width: 60rem;
    height: 3.2rem;
    padding: 1.5rem 1.5rem;
    margin-bottom: 1rem;
    justify-self: center;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid $primary-color;
    color: $white;
    font-size: $small;
    font-weight: $thin;
}
.darken-bg {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    filter: brightness(50%);
}
.darken-bg--header {
    width: 100%;
    filter: brightness(70%);
}
.input:focus-visible {
    border: none;
    outline: solid $primary-color;
}
.button--proceed, .button--cancel {
    width: 14rem;
    font-size: $small;
    height: 4rem;
    margin-top: 3rem;
    color: $white;
    border-radius: 2rem;
}
.button--proceed {
    background-color: $positive;
}
.button--cancel {
    background-color: $negative;
}
.button--cancel a, .button--proceed a {
    color: $white;
}