$almost-white: #E6E7F0;
$almost-black: #131735;
$blue: #626FE7;
$darkblue: #4752BB;
$lightblue: #969EE5;
$red: #A02525;
$principal-font: 'Cabin', sans-serif;
$principal-font2: 'Roboto', sans-serif;
$bold: 700;
$regular: 400;
