$background-image: linear-gradient(to bottom, #171940, #311536, #3d152b, #411a20, #40211a);
$background-1: #0A1126;
$background-2: #121D40;
$white: #E8F3F3;
$black: #03091B;
$primary-color: #AEF2F2;
$secondary-color: #4752BB;
$negative: #A02525;
$positive: #1BC956;

$principal-font: 'Cabin', sans-serif;
$principal-font2: 'Roboto', sans-serif;

$bold: 700;
$regular: 400;

$background-image-1: linear-gradient(to bottom, #0a1126, #202c44, #374963, #4f6884, #6889a6);
$background-image-2: linear-gradient(to right bottom, #0d0d0d, #141320, #171732, #181b45, #151f59);
$background-image-3: linear-gradient(to bottom, #171940, #311536, #3d152b, #411a20, #40211a);
