<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        const rafael = {
            name: 'Rafael',
            lastName: 'Moro',
            age: 27
        }
        const beto = {
            name: 'Beto',
            lastName: 'andrade',
            age: 26
        }
        const jorge = {
            name: 'Jorge',
            lastName: 'Moro',
            age: 30
        }
        function birthday(person) {
            return {
                ...person,
                age: person.age + 1
            }
        }
        console.log(rafael)
        console.log(birthday(rafael))
        console.log(rafael)

        const mmgvs = [rafael, beto, jorge]
        //const nuevosMmgv = mmgvs.filter(mmgv => mmgv.name !== 'Beto')
        console.log('mmgvs', mmgvs)

        const nuevosMmgv2 = mmgvs.map(mmgv => {
            if(mmgv.age === 40) {
                return {
                    ...mmgv,
                    age: mmgv.age + 1
                }
            }else {
                return mmgv
            }
        })
        const personaExiste = mmgvs.some(persona => persona.name === 'Beto')
        console.log('personaExiste',personaExiste)
        console.log('nuevosMmmgvs2' ,nuevosMmgv2)
        console.log(nuevosMmgv2 == mmgvs)

    //     const addToCart = (item) => {
    //     const {cart} = state
    //     const newCart = [...cart]
    //     if(newCart.length > 0) {
    //         newCart.forEach(product => {
    //             if(product.id === item.id) {
    //                 const cartModified = newCart.filter(product => product.id !== item.id)
    //                 //console.log(cartModified)
    //                 const newProduct = {
    //                     ...item,
    //                     quantity: item.quantity + 1
    //                 }
    //             }else {
    //                 newCart.push(item)
    //             }
    //         })
    //     } else {
    //         const newProduct = {
    //             ...item,
    //             quantity: 1
    //         }
    //         newCart.push(newProduct)
    //     }
        
    //     setState({
    //         ...state,
    //         cart: newCart
    //     })
    // }

    </script>
</body>
</html>